#################
# BSOID_related #
#################

# Anything under COMPUTED is 
# actually executed results and data
/COMPUTED

# Anything under feature_extraction/results is not saved on git
/feature_extraction/results